body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #525252;;
  font-family: 'Open Sans', sans-serif;
  color: lightgray;
}

/*.navbar .logo {*/
/*  max-height: 50px;*/
/*  padding-right: 100px;*/
/*}*/
/*body>.nav-link{*/
/*  color: white;*/
/*}*/

nav{
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.15);
}
.nav-link.nav-link.nav-link{
  color: lightgray;
  padding-inline: 2em;
}
.nav-link.nav-link.nav-link:hover{
  text-decoration: underline;
}
.navbar>.d-flex>.navbar-nav>li{
  border-right: 2px solid lightgray;

}
.navbar>.d-flex>.navbar-nav li:first-child>a{
  padding-left: 0;
}
.navbar>.d-flex>.navbar-nav li:last-child{
  border-right: none;
}
.profile-link-container{
  border-right: 2px solid lightgray;
}
.profile-link{
  color: lightblue;
}
.profile-link:hover{
  color: #3e96b5;
}


.top-rated-container>.row.row.row.row.text-center.text-white{
  font-size: 1.8rem;
  margin-top: 2em;
}
.top-rated-cards-container{
  display: flex;
  justify-content: center;
}
.top-rated-cards-container>div{
  /*width: 30%;*/
  text-align: center;
  margin-inline: 0.5em;

}
.discover-hotels{
  color: lightblue;
  font-size: 1.1rem;
}
.discover-hotels:hover{
  color: #3e96b5;
}
.favor-btn {
  position: absolute;
  /*right: 0;*/
  top: 55%;
  transform: translateY(-50%);
  background-color: #525252;
  border: none;
}
.favor-btn>svg {
  fill: red;
}
.favor-btn:hover {
  cursor: pointer;
}
.favor-btn:focus{
  outline: none;
}
.favor-btn:hover:after {
  content: "Add to favorites";
  position: absolute;
  /*pointer-events: none;*/
  top: calc(100% + 5px);
  left: calc(50% - 40px);
  background-color: #333;
  color: #fff;
  width: 9rem;
  padding-left: 0.1em;
  padding-bottom: 0.1em;
  /*padding: 0.2em 0.5em;*/
  border-radius: 5px;
  z-index: 1;
}
.disfavor-btn {
  position: absolute;
  /*right: 0;*/
  top: 55%;
  transform: translateY(-50%);
  background-color: #525252;
  border: none;
}
.disfavor-btn>svg {
  fill: red;
}
.disfavor-btn:hover {
  cursor: pointer;
}
.disfavor-btn:focus{
  outline: none;
}
.disfavor-btn:hover:after {
  content: "Remove from favorites";
  position: absolute;
  /*pointer-events: none;*/
  top: calc(100% + 5px);
  left: calc(50% - 40px);
  background-color: #333;
  color: #fff;
  width: 12rem;
  padding-left: 0.1em;
  padding-bottom: 0.1em;
  /*padding: 0.2em 0.5em;*/
  border-radius: 5px;
  z-index: 1;
}
.destination-description{
  font-size: 1.3rem;
  font-weight: 400;
  width: 60%;
}
.carousel {
  overflow: hidden;
  width: 20rem;
  height: 15rem;
  margin: 0 auto;
  position: relative;
  left: 28rem;
  bottom: 16rem;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.slides {
  display: flex;
  position: absolute;
  width: 20rem;
  height: 15rem;
  animation: slide 30s infinite;
}
.slides>img {
  width: 20rem;
  height: 15rem;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-20rem);
  }
  66.66% {
    transform: translateX(-40rem);
  }
}
.search-destination-link{
  color: lightblue;
  font-size: 1.1rem;
}
.search-destination-link:hover{
  color: #3e96b5;
}


.location-link{
  color: lightblue;
}
.location-link:hover{
  color: #3e96b5;
}
.ratings-container{
  border-top: white solid 2px;
}
#review:focus{
  outline: none;
}
#show-review-form{
  background-color: transparent;
  border: none;
  color: lightblue;
}
#show-review-form:hover{
  color: #3e96b5;
  text-decoration: underline;
  cursor: pointer;
}
#show-edit-review-form{
  background-color: transparent;
  border: none;
  color: lightblue;
}
#show-edit-review-form:hover{
  color: #3e96b5;
  text-decoration: underline;
  cursor: pointer;
}
.reserve-link{
  /*color: lightblue;*/
  font-size: 1.2rem;
}
.reserve-link:hover{
  /*color: #3e96b5;*/
}
.hotel-link{
  color: lightblue;
}
.hotel-link:hover{
  color: #3e96b5;
}

.my-reservations-link{
  color: lightblue;
  font-size: 1.3rem;
}
.my-reservations-link:hover{
  color: #3e96b5;
}
.forums-link, .articles-link{
  color: lightblue;
}
.forums-link:hover, .articles-link:hover{
  color: #3e96b5;
}

.forum-link-container>a{
  color: lightblue;
  font-size: 1.3rem;
}
.forum-link-container>a:hover{
  color: #3e96b5;
}


.destination-details, .hotel-details{
  background-color: #305c79;
  border: none;
}
.destination-details:hover, .hotel-details:hover{
  background-color: #154c79;
}


.my-profile-links-container>div>a{
  color: lightblue;
  font-size: 1.3rem;
}
.my-profile-links-container>div>a:hover{
  color: #3e96b5;
}

.my-reservations-hotel-link{
  /*color: lightblue;*/
}
.my-reservations-hotel-link:hover{
  color: #3e96b5;
}

.article-image-container{
  width: 20rem;
  height: 15rem;
  margin: 0 auto;
  position: relative;
  left: 28rem;
  bottom: 24em;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.article-image-container>img{
  position: absolute;
  width: 20rem;
  height: 15rem;
}

/*.carousel {*/
/*  overflow: hidden;*/
/*  width: 20rem;*/
/*  height: 15rem;*/
/*  margin: 0 auto;*/
/*  position: relative;*/
/*  left: 28rem;*/
/*  bottom: 16rem;*/
/*  border-radius: 4px;*/
/*  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);*/
/*}*/
/*.slides {*/
/*  display: flex;*/
/*  position: absolute;*/
/*  width: 20rem;*/
/*  height: 15rem;*/
/*  animation: slide 30s infinite;*/
/*}*/
/*.slides>img {*/
/*  width: 20rem;*/
/*  height: 15rem;*/
/*}*/

.container, .container-fluid {
  padding-top: 90px;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.brand-section {
  background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

td, th {
  padding: 3px 8px;
}

.card.offer, .offer-details .list-group-item {
  background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}
.card-img-top-wrapper {
  height: 150px;
  overflow:hidden;
}

form.main-form {
  background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
  padding:10px 30px;
  border-radius: 20px;
}

.field-error {
  background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="red" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg> ') no-repeat top right/30px 30px;
}

.logged-user {
  color: white;
}

.delete-comment-btn {
  background-color: white;
  border: none;
}
.delete-comment-btn:focus {
  outline: none;
}
.delete-comment-btn>svg {
  fill: darkgrey;
}
.delete-comment-btn>svg:hover{
  cursor: pointer;
  fill: black;
}

#show-edit-username-form {
  background: none;
  border: none;
  margin-left: 1rem;
}
#show-edit-username-form>svg {
  fill: white;
  margin-top: 0.6rem;
}
#show-edit-username-form>svg:hover {
  cursor: pointer;
  fill: lightgray;
}
/*.edit-username-btn:hover {*/
/*  cursor: pointer;*/
/*}*/
#show-edit-username-form:focus {
  outline: none;
}

/*@media (max-width: 1383px) {*/
/*  !*.navbar-container{*!*/
/*  !*  margin-bottom: 180px;*!*/
/*  !*}*!*/
/*}*/
/*@media (max-width: 991px) {*/
/*  .navbar-container{*/
/*    margin-bottom: 180px;*/
/*  }*/
/*}*/
/*@media (max-width: 705px) {*/
/*  .navbar-container{*/
/*    margin-bottom: 220px;*/
/*  }*/
/*}*/
