<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
    Navbar
</div>
<div class="container mt-5">
    <div class="text-white mb-4" style="font-size: 1.4rem; ">Search for any user:</div>
    <form th:method="GET" th:action="@{/admin-panel}" th:object="${userSearchBindingModel}" class="">
        <div class="">
            <input th:field="*{email}" class="form-control" type="search"
                   placeholder="User name..."
                   aria-label="Search"
                   id="name" style="width: 60%;display: inline-block; vertical-align: middle"/>
            <button class="btn btn-outline-info" type="submit"
                    style="display: inline-block; vertical-align: middle; width: 10%;">Search</button>
        </div>
    </form>
</div>
<div class="container">
    <div th:if="${users!=null&&users.isEmpty()}" class="text-white">No results found.</div>
    <div th:each="u : ${users}" th:object="${u}"  class="my-3">
        <a th:href="@{/user-details/{id}(id = *{id})}" th:text="*{email}" class="btn btn-info"></a>
    </div>
</div>
</body>
</html>