<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
  Navbar
</div>
<div class="container">
  <form th:action="@{/search-rooms}" th:method="POST" th:object="${reservationDTO}" class="mt-5 flex-column">
    <label for="adults-count">Adults count</label>
    <input th:field="*{adultsCount}" type="number" id="adults-count"
           placeholder="Adults">
    <label for="children-count">Children count</label>
    <input th:field="*{childrenCount}" type="number" id="children-count"
           placeholder="Children">
    <label for="type">Category</label>
    <select th:field="*{type}" id="type" name="type">
      <option value="" selected>Type</option>
      <option th:each="t : ${T(com.example.travelagency.enums.HotelRoomTypeEnum).values()}" th:value="${t}" th:text="${t}"></option>
    </select>
    <div class="form-group row">
      <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
      <div class="col-sm-10">
        <input th:field="*{startDate}" type="date" class="form-control" id="startDate"
               aria-describedby="startDateHelpInline">
      </div>
    </div>
    <div class="form-group row">
      <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
      <div class="col-sm-10">
        <input th:field="*{endDate}" type="date" class="form-control" id="endDate"
               aria-describedby="endDateHelpInline">
      </div>
    </div>
    <button type="submit" class="btn">Search for available room</button>
  </form>
</div>

</body>
</html>