<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
  Navbar
</div>
<div class="container">
    <div class="text-center text-white mt-5" style="font-size: 2rem; text-shadow: 0px 0px 11px rgba(0,0,0,0.5);">Making a Reservation</div>
    <div class="text-center text-white mt-2" style="font-size: 1.3rem">in&nbsp;"<a th:href="@{/hotels/{id}(id = *{id})}" th:text="*{currentHotel.getName()}" class="hotel-link"></a>"
    </div>
    <form th:action="@{/search-rooms/{id}(id=${currentHotel.id})}" th:method="POST" th:object="${reservationAddBindingModel}"
        class="mt-5 main-form text-white" style="width: 90%">
      <div style="display: flex; justify-content: space-between" class="my-2">
          <div style="display: inline"><label for="adults-count" class="mr-1">Adults count</label>
              <input th:field="*{adultsCount}" type="number" id="adults-count"
                     placeholder="Adults"></div>
          <div style="display: inline"><label for="children-count" class="mr-1">Children count</label>
              <input th:field="*{childrenCount}" type="number" id="children-count"
                     placeholder="Children"></div>
          <div style="display: inline"><label for="type" class="mr-1">Room type</label>
              <select th:field="*{type}" id="type" name="type">
                  <!--      <option value="" selected>Type</option>-->
                  <option th:each="t : ${T(com.example.holidayplanner.enums.HotelRoomTypeEnum).values()}" th:value="${t}" th:text="${t}"></option>
              </select></div>
      </div>

    <div class="form-group row">
      <label for="startDate" class="col-sm-2 col-form-label">Start date</label>
        <input th:field="*{startDate}" type="date" class="form-control" id="startDate"
               aria-describedby="startDateHelpInline" style="width: 82%">
    </div>
    <div class="form-group row">
      <label for="endDate" class="col-sm-2 col-form-label">End date</label>
        <input th:field="*{endDate}" type="date" class="form-control" id="endDate"
               aria-describedby="endDateHelpInline" style="width: 82%">
    </div>
    <p th:if="${#fields.hasErrors('startDate')||#fields.hasErrors('endDate')}" th:errors="*{startDate}" class="errors alert alert-danger">
    </p>
    <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="errors alert alert-danger">
    </p>
    <p th:if="${#fields.hasErrors('adultsCount')}" th:errors="*{adultsCount}" class="errors alert alert-danger">
    </p>
    <p th:if="${roomAvailability==false}" class="errors alert alert-danger">
      No rooms available in the hotel for that time period.
    </p>
    <button type="submit" class="btn mb-1">Search for available room</button>
  </form>
</div>

</body>
</html>