<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
    Navbar
</div>

<div class="container mt-5">
    <h2 class="text-center text-white" th:object="${forum}" th:text="*{name}"></h2>
</div>
<div class="container mb-5">
    <h2 class="text-center text-white">Write a comment:</h2>
    <form th:object="${commentAddBindingModel}" th:method="POST"
          th:action="@{/add-comment/{id}(id=${forum.id})}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="form-group">
            <label for="content" class="text-white font-weight-bold">Content</label>
            <textarea id="content"
                      th:field="*{content}"
                      name="username"
                      cols="50" rows="6" maxlength="500"
                      class="form-control">
            </textarea>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="errors alert alert-danger mt-3">
            </p>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Post"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container mb-5">
    <div class="text-white mb-5" style="font-size: 1.5rem">
        <span th:text="*{comments.size()}"></span><span> comments:</span>
    </div>
    <div th:each="c : ${comments}" th:object="${c}" class="mb-2" style="color: #343a40;">
        <div class="card mb-3" style="min-width: 30rem; max-width: 100%; display: inline-block">
            <div class="card-body">
                <div>
                    <h5 class="card-title" style="display: inline; background-color: #343a40; border-radius: 4px; color: white; padding: 4px" th:text="*{getUser().firstName+' '+getUser().lastName}"></h5>
                    <span class="text-muted">posted on</span>
                    <h6 class="card-subtitle mb-2 text-muted" style="display: inline" th:text="*{timePosted.getYear()+'-'+timePosted.getMonth()+'-'+timePosted.getDayOfMonth()+' '+timePosted.getHour()+':'+timePosted.getMinute()}"></h6>
                </div>
                <p class="card-text mt-2" th:text="*{content}" style="font-size: 1.4rem"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>