<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
  Navbar
</div>

<div class="container text-white text-center mt-5">
  <div style="font-size: 2rem; text-shadow: 0px 0px 11px rgba(0,0,0,0.5);">Forum Pages</div>
  <div style="font-size: 1.5rem; text-shadow: 0px 0px 11px rgba(0,0,0,0.5);" class="mt-4">Discuss travel-related topics of interest with fellow adventure seekers!</div>
</div>
<div class="container flex-column">
  <div th:each="f : ${forums}" th:object="${f}" class="forum-link-container my-1">
    <a th:href="@{/forums/{id}(id = *{id})}" th:text="*{name}"></a>
  </div>
</div>
</body>
</html>