<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
  Navbar
</div>
<div th:object="${hotel}" class="container text-white">
  <h3 th:text="*{name}" class="ml-3 mr-3"></h3>
  <div>
      Destination:
      <a th:href="@{/destinations/{id}(id=*{travelDestination.id})}" th:text="*{travelDestination.name}" class="text-primary"></a>
  </div>
  <div th:text="*{description}"></div>
</div>
<div class="container">
  <form th:object="${ratingAddBindingModel}" th:method="POST" th:action="@{/add-rating/{id}(id=${hotel.id})}">
<!--    th:field="*{value}"-->
      <select name="value" id="value">
<!--          <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"-->
<!--                  th:selected="${5==currentUserRating.value}"></option>-->
                <option value=1 th:selected="${1==currentUserRating.value}">1</option>
                <option value=2 th:selected="${2==currentUserRating.value}">2</option>
                <option value=3 th:selected="${3==currentUserRating.value}">3</option>
                <option value=4 th:selected="${4==currentUserRating.value}">4</option>
                <option value=5 th:selected="${5==currentUserRating.value}">5</option>
      </select>
<!--    <select id="value">-->
<!--      <option th:object="${ratingDTO.value}" value=1>1</option>-->
<!--      <option value=2>2</option>-->
<!--      <option value=3 th:selected="${true}">3</option>-->
<!--      <option value=4>4</option>-->
<!--      <option value=5>5</option>-->
<!--    </select>-->
    <label for="review">Review(optional)</label>
    <textarea name="review" id="review" cols="50" rows="6" maxlength="500" th:text="${currentUserRating.review}"></textarea>
      <p th:if="${#fields.hasErrors('value')||#fields.hasErrors('review')}" th:errors="*{review}" class="errors alert alert-danger">
      </p>
    <button type="submit" class="btn">Rate</button>
  </form>
</div>
<div class="container text-white">
  <span th:text="*{ratingsCount}"></span><span class="text-white"> reviews with an average rating: </span><span th:text="*{averageRating}"></span>
</div>
<div class="container">
  <div th:each="r : ${ratings}" th:object="${r}" class="mb-2">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" th:text="*{getUser().firstName+' '+getUser().lastName}"></h5>
        <h6 class="card-subtitle mb-2 text-muted" th:text="*{value}"></h6>
        <p class="card-text" th:text="*{review}"></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>