<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
  Navbar
</div>
<div class="container mt-5">
  <div class="text-white mb-4" style="font-size: 1.4rem; ">Search for any hotel:</div>
  <form th:method="GET" th:action="@{/hotels}" th:object="${hotelSearchBindingModel}" class="">
    <div class="">
      <input th:field="*{name}" class="form-control search-hotel-input" type="search"
             placeholder="Hotel name..."
             aria-label="Search"
             id="name" style=""/>
      <button class="btn btn-outline-info search-hotel-btn" type="submit">Search</button>
    </div>
  </form>
</div>
<div class="container mb-5">
  <div th:if="${hotels!=null&&hotels.isEmpty()}" class="text-white">No results found.</div>
  <div class="d-flex row justify-content-start">
    <div th:each="d : ${hotels}" th:object="${d}"  class="card m-2"
         style="width: 18rem; border: #494949 solid 2px; color: #343a40; border-radius: 8px;">
      <img th:src="*{imageURL}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title" th:text="*{name}">Card title</h5>
        <p class="card-text" th:text="*{shortDescription}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a th:href="@{/hotels/{id}(id = *{id})}" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>