<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
  Navbar
</div>

<div class="container mt-5">
  <h2 class="text-center text-white">Welcome to Holiday Planner!</h2>
  <h4 class="text-center text-white mt-3">Click<a th:href="@{/users/register}" class="text-info"> here </a>to get started, or <a th:href="@{/users/login}" class="text-info"> login </a>if you already have an account.</h4>
</div>
</body>
</html>