<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
  Navbar
</div>
<div class="container text-center text-white mt-5">
  <div style="font-size: 2rem">
    Rated Hotels
  </div>
  <div th:if="${!ratedHotels.isEmpty()}" style="font-size: 1.4rem" class="mt-4">
    You have <span th:text="*{ratedHotels.size()}"></span> rated hotels:
  </div>
</div>
<div class="container">
  <div class="row" style="display: flex;
  justify-content: center;">
    <div th:each="h : ${ratedHotels}" th:object="${h}"  class="card m-3"
         style="width: 18rem; border: #494949 solid 2px; color: #343a40; border-radius: 8px;">
      <img th:src="*{imageURL}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title" th:text="*{name}">Card title</h5>
        <p class="card-text" th:text="*{shortDescription}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a th:href="@{/destinations/{id}(id = *{travelDestination.getId()})}" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>
<div class="container text-white" style="font-size: 1.2rem">
  <th:block th:if="${ratedHotels.isEmpty()}">You haven't rated any hotels yet. <a th:href="@{/hotels}" class="text-info">Try exploring!</a></th:block>
</div>
</body>
</html>