<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
    Navbar
</div>
<div th:object="${reservation}" class="container text-white">
    <h3 th:text="*{startDate}"></h3>
    <h3 th:text="*{endDate}"></h3>
    <div th:text="*{childrenCount}"></div>
    <div th:text="*{adultsCount}"></div>
    <a th:href="@{/edit-reservation/{id}(id=*{id})}">Edit</a>
    <a th:href="@{/delete-reservation/{id}(id=*{id})}">Delete</a>
</div>
</body>
</html>