<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar::navbar">
  Navbar
</div>
<div class="container mt-5">
  <div class="text-white mb-4" style="font-size: 1.4rem; ">Search for any travel destination:</div>
  <form th:method="GET" th:action="@{/search-destination}" th:object="${travelDestinationSearchBindingModel}">
    <div class="">
      <input th:field="*{name}" class="form-control" type="search"
             placeholder="Destination name..."
             aria-label="Search"
             id="name" style="width: 60%;display: inline-block; vertical-align: middle"/>
      <button class="btn btn-outline-info" type="submit" style="display: inline-block; vertical-align: middle; width: 10%">Search</button>
    </div>
  </form>
</div>
<div class="container mb-5">
<!--  <div th:if="${destinations!=null&&!destinations.isEmpty()}" class="text-white">Results:</div>-->
  <div th:if="${destinations!=null&&destinations.isEmpty()}" class="text-white">No results found.</div>
  <div class="d-flex row justify-content-start">
    <div th:each="d : ${destinations}" th:object="${d}"  class="card m-2"
         style="width: 18rem; border: #494949 solid 2px; color: #343a40; border-radius: 8px;">
      <img th:src="*{imageURL}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title" th:text="*{name}">Card title</h5>
        <p class="card-text" th:text="*{shortDescription}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a th:href="@{/destinations/{id}(id = *{id})}" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>